<div id="main2">

</div>
<div id="main">
    <nav class="navbar">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <button mat-stroked-button routerLink="/mainpage">Главная</button>
            </li>
            <li class="nav-item">
                <button mat-stroked-button routerLink="/ietrlist">Примеры</button>
            </li>
            <li class="nav-item">
                <button mat-stroked-button>Медиа</button>
            </li>
            <li class="nav-item">
                <button mat-stroked-button routerLink="/theteam">Команда</button>
            </li>            
        </ul>          
    </nav>
</div>
