nav {
    background-color: rgba(81, 81, 81, 0.8); 
    height: 100%;   
    width: 100%;
}
ul {
    width: 100%;
    margin: 0 auto;    
}
li {
    margin: 0 1%;
}
button {      
    border: 0;        
    color: rgba(186, 185, 185, 0.8);
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    transition: color 0.5s;
}
button:hover {
    color: rgb(255, 255, 255);
}
#main {
    border: 3px solid rgb(78, 78, 78);
    width: 98%; 
    height: 8%;   
    margin: 1%;        
    position: sticky;    
    top: 5px;    
    z-index: 999;
}