#main {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(105, 96, 96);
    width: 98%; 
    height: 8%;   
    margin: 0.5%;                
    z-index: 999;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(68, 68, 68, 0.5); 
    height: 100%;   
    width: 100%;
}
ul {    
    width: 70%;  
}
li {
    margin: 0 2%;
}
button {             
    border: 0;   
    background-color: rgb(102, 101, 123);     
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    transition: background-color 0.3s;
}
button:hover {
    background: rgb(70, 69, 84);   
}