
  #field {
    display: flex; 
    flex-direction: column;      
    width: 80%;
    min-height: 96%;
    margin: 1% auto;  
    margin-bottom: 1%;
    border: 1.5px solid rgba(47, 47, 47, 0.2);       
    border-radius: 15px; 
    background: rgb(79, 79, 79);  
  }
  .example-container {
    background: rgb(79, 79, 79);      
    border-radius: 15px;
    width: 100%;                   
  }    
  #list {    
    display: flex;  
    align-items: center;
    justify-content: center;  
    width: 200px;    
  }  
  #list ul {      
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  li {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    color: black;
  }
  button {
    width: 100%;
  }
  #butdiv {    
    position: fixed;           
    margin: 5px;      
    opacity: 0.1;  
    transition: opacity 0.5s;        
  }
  #butdiv:hover {
    opacity: 1;
  } 
  .imgwrap {
    float: right;    
    margin: 2%;
    width: 34%;
  }  
  .img-thumbnail {     
    border: 1px solid rgb(0,0,0);
    border-radius: 10px; 
    width: 100%;    
    height: auto;
  } 
.codewrap {  
  float: left;
  margin: 2%;
  width: 58%;
}
pre {
  border: 1px solid rgb(0,0,0);
  border-radius: 10px;
  background: rgb(56, 56, 56);
  color: rgb(191, 189, 189);
}