
.example-sidenav-content {
    display: flex;  
    align-items: center;
    justify-content: center;
  }  
  .example-sidenav {
    padding: 20px;
  }
  
  #field {    
    width: 90%;
    min-height: 96%;
    margin: 1% auto;  
    margin-bottom: 1%;
    border: 1px solid rgba(0, 0, 0, 0.2);   
    border-top: 15px solid black;
    border-radius: 15px; 
    background: rgba(47, 47, 47);  
  }
  .example-container {        
    background: rgba(47, 47, 47);    
    border-radius: 0 0 15px 15px;
    margin: 0 auto;               
  }  
  #list {       
    padding: 0;
    width: 200px;    
  }  
  #list ul {      
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  li {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    color: black;
  }
  #butdiv {    
    position: sticky;
    top: 10px;
    float: left;
    width: min-content;
    margin: 10px;      
    opacity: 0.1;  
    -webkit-transition: opacity 0.5s;  
  }
  #butdiv:hover {
    opacity: 1;
  }  
  .imgwrap {
    float: right;
    margin: 2%;
    width: 40%;
  }  
  .img-thumbnail {  
    width: 100%;
    height: auto;
  }
  button {
    width: 100%;
  }
.codewrap {  
  width: 54%; 
  padding: 0 auto;
}