#field {  
    width: 90%;
    height: 96%;
    margin: 1% auto;  
    margin-bottom: 1%;
    border: 1px solid rgba(0, 0, 0, 0.2);   
    border-top: 15px solid black;
    border-radius: 15px; 
    background: rgba(47, 47, 47);  
  }
  img {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .infolist {  
    margin: 0 auto;
    width: 90%;  
  }
  .infolist p {
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
  }