#field {  
    display: flex; 
    flex-direction: column;      
    width: 90%;
    min-height: 96%;
    margin: 1% auto;  
    margin-bottom: 1%;
    border: 1.5px solid rgba(47, 47, 47, 0.2);       
    border-radius: 5px; 
    background: rgb(79, 79, 79);  
  }
  img {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .infolist {  
    margin: 0 auto;
    width: 90%;  
  }
  .infolist p {
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
  }