<div id="field">    
    <div>
        <img src="../../../assets/Logo.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="infolist">
        <p>Геометрическое ядро – это сложное программное обеспечение, включающее в себя множество функция и алгоритмов. При интеграции ядра в САПР роль управления ядром берет на себя интерфейс САПР. В данном случае не требуется доскональных знаний всех особенностей геометрического ядра, интерфейс позволяет полностью сконцентрироваться непосредственно на моделировании. В случае же, когда программист занимается разработкой или модифицирование геометрического моделировщика, требуются знания архитектуры, API и алгоритмов конкретного ядра. Для успешной работы создатели ядра должны иметь возможность предоставить программисту набор примеров, раскрывающих возможности и базовые алгоритмы геометрического ядра.</p>
        <p>Целью данного проекта является создание мини-программ, демонстрирующих основные принципы работы геометрического ядра C3D. Каждая программа реализует несколько базовых алгоритмов ядра. Также каждая программа дополняется аннотацией, описывающей принцип работы программы.</p>
        <p>Программы в сумме своей описывают следующие возможности ядра:

            1) Создание в пространстве точек, кривых, плоскостей;
            
            2) Создание замкнутых контуров (эскизов);
            
            3) Создание поверхностей путем выдавливания, вращения контура;
            
            4) Создание таких элементов, как сопряжения, фаски.
        </p>
        <p [style.margin-bottom.%]="5">Каждая аннотация выполняет следующие задачи:

            1) Демонстрирует готовый код программы;
            
            2) Описывает принцип работы программы;
            
            3) Описывает те функции и алгоритмы, которые использовались в программе.
        </p>            
    </div>    
</div>

