<div id="field">
    <div class="maincol">
        <div class="imgwrap">
            <img src="../../../assets/Main/Slide1.png">
            <img src="../../../assets/Main/Slide2.png">
            <img src="../../../assets/Main/Slide3.png">
        </div>
    </div>
    <div class="sidewrap">
        <div class="mediacol">
            <div class="videowrap">                
                <video class="video" controls poster="../../../assets/VideoTitle.png" (click)="toggleVideo()" id="videoPlayer">
                    <source src="../../../assets/video.mp4" />
                </video>
            </div>        
        </div>
        <div class="submcol">
            <div class="team">
                <div class="mate">
                    <div class="mateinfo">
                        <p>Участник проекта: студент <a href="https://new.mospolytech.ru" target="_blank">Московского политехнического университета</a></p>
                        <p>ФИО: Фролов Алексей Михайлович</p>
                        <p>Курс: 2</p>
                        <p>Группа: 181-326</p>    
                        <p>Роль в проекте:<br>Создание сайта проекта;<br>Создание аннотаций к примерам.</p>                                                       
                        <p><a href="https://vk.com/id114516189" target="_blank">ВКонтакте</a></p>
                        <p><a href="https://github.com/SirfRus" target="_blank">GitHub</a></p>
                    </div>
                    <div class="img">
                        <img src="../../../assets/Main/Avatar1.png">
                    </div>                    
                </div>
                <div class="mate">  
                    <div class="mateinfo">
                        <p>Участник проекта: студент <a src="https://new.mospolytech.ru">Московского политехнического университета</a></p>
                        <p>ФИО: Серяков Алексей Валерьевич</p>
                        <p>Курс: 2</p>
                        <p>Группа: 181-326</p>         
                        <p>Роль в проекте:<br>Создание сайта проекта;<br>Создание аннотаций к примерам.</p> 
                        <p><a href="https://vk.com/fuckinexpert" target="_blank">ВКонтакте</a></p>
                        <p><a href="https://github.com/RaNSiD18" target="_blank">GitHub</a></p>
                    </div>
                    <div class="img">
                        <img src="../../../assets/Unknown.png">
                    </div>                                      
                </div>
                <div class="mate">  
                    <div class="mateinfo">
                        <p>Участник проекта: студент <a src="https://new.mospolytech.ru">Московского политехнического университета</a></p>
                        <p>ФИО: Волобуев Ростислав Александрович</p>
                        <p>Курс: 2</p>
                        <p>Группа: 181-326</p>    
                        <p>Роль в проекте:<br>Создание сайта проекта;<br>Создание аннотаций к примерам.</p>                  
                        <p><a href="" target="_blank">ВКонтакте</a></p>
                        <p><a href="" target="_blank">GitHub</a></p>
                    </div>
                    <div class="img">
                        <img src="../../../assets/Unknown.png">
                    </div>                                      
                </div>
            </div>
        </div>
    </div>
    
</div>